<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      
      <section name="truckersmplauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ets2mplauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ets2mplauncher2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      
      <section name="truckersmplauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ets2mplauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    
    <truckersmplauncher.Properties.Settings>
      <setting name="closeLauncher" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ETS2NoIntro" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdateLauncher" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ETS2LaunchArguments" serializeAs="String">
        <value/>
      </setting>
      <setting name="ATSNoIntro" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ATSLaunchArguments" serializeAs="String">
        <value/>
      </setting>
      <setting name="AutoUpdateTMP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendStatistics" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartSteam" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="closeDelay" serializeAs="String">
        <value>5</value>
      </setting>
    </truckersmplauncher.Properties.Settings>
    <ets2mplauncher.Properties.Settings>
        <setting name="ETS2MPLocation" serializeAs="String">
            <value/>
        </setting>
        <setting name="KeepLauncherOpen" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="ETS2NoIntro" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="AutoUpdateLauncher" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="ETS2MPVersion" serializeAs="String">
            <value/>
        </setting>
        <setting name="ETS2LaunchArguments" serializeAs="String">
            <value/>
        </setting>
    </ets2mplauncher.Properties.Settings>
    <ets2mplauncher2.Properties.Settings>
      <setting name="Ver" serializeAs="String">
        <value/>
      </setting>
      <setting name="mploc" serializeAs="String">
        <value/>
      </setting>
      <setting name="steamloc" serializeAs="String">
        <value/>
      </setting>
      <setting name="steamlaunch" serializeAs="String">
        <value/>
      </setting>
    </ets2mplauncher2.Properties.Settings>
  </userSettings>
  <applicationSettings>
    
    <truckersmplauncher.Properties.Settings>
      <setting name="LauncherVersion" serializeAs="String">
        <value>0.11</value>
      </setting>
    </truckersmplauncher.Properties.Settings>
    <ets2mplauncher.Properties.Settings>
        <setting name="LauncherVersion" serializeAs="String">
            <value>0.05</value>
        </setting>
    </ets2mplauncher.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
