<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ets2mplauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ets2mplauncher2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ets2mplauncher.Properties.Settings>
            <setting name="mploc" serializeAs="String">
                <value />
            </setting>
            <setting name="steamloc" serializeAs="String">
                <value />
            </setting>
            <setting name="steamlaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="steamdelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="launchclose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LauncherVersion" serializeAs="String">
                <value>0.03</value>
            </setting>
        </ets2mplauncher.Properties.Settings>
        <ets2mplauncher2.Properties.Settings>
            <setting name="Ver" serializeAs="String">
                <value />
            </setting>
            <setting name="mploc" serializeAs="String">
                <value />
            </setting>
            <setting name="steamloc" serializeAs="String">
                <value />
            </setting>
            <setting name="steamlaunch" serializeAs="String">
                <value />
            </setting>
        </ets2mplauncher2.Properties.Settings>
    </userSettings>
</configuration>